@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Poor Story', cursive;
  color: gainsboro;
  height: 100vh;
}

.navbar {
  color: gainsboro;
  display: flex;
  min-height: 8vh;
  align-items: center;
  justify-content: space-around;
}

.nav-header {
  font-size: 28px;
}

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  align-items: center;
}

li {
  letter-spacing: 0.5px;
  position: relative;
  cursor: pointer;
}

li::after {
  content: "";
  position: absolute;
  background-color: gainsboro;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}

li:hover::after {
  width: 100%;
}

.home-presentation {
  margin-top: 40px;
  margin-bottom: 20px;
}

.welcome {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.description {
  color: #434343;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.home-images {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.res-img {
  max-width: 100%;
  height: auto;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.menu-img {
  width: 250px;
}

span {
  font-size: 20px;
}

.contact-title {
  font-size: 4rem;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 40vh;
  font-size: 24px;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}